<div class="mainFooterContainer">
    <div class="footer">
        <div class="column1 column">
            <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg">
        </div>
        <div class="column2 column">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>
        <div class="column3 column">
            <span class="name">Name: Farhan</span>
            <span class="address">Address: Dummy address</span>
            <span class="phoneNumber">Contact: +4311111111</span>
        </div>
    </div>
</div>