<div class="mainCardContainer">
    <div class="card" link="www.google.com">
        <img class="card-img-top" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="https://www.google.at/" target="_blank" class="btn btn-primary">Go to Google</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>