<div class="mainCardContainer">
    <div class="card" link="www.google.com">
        <img class="card-img-top" src="assets/img/messi.jpg" alt="Messi">
        <div class="card-body">
            <h5 class="card-title">Lionel Messi</h5>
            <p class="card-text">Professional football player at Paris SG.</p>
            <a href="https://de.wikipedia.org/wiki/Lionel_Messi" target="_blank" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/ronaldo.jpg" alt="Ronaldo">
        <div class="card-body">
            <h5 class="card-title">Cristiano Ronaldo</h5>
            <p class="card-text">Professional football player at Manchester United.</p>
            <a href="https://de.wikipedia.org/wiki/Cristiano_Ronaldo" target="_blank" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/neymar.jpg" alt="Neymar">
        <div class="card-body">
            <h5 class="card-title">Neymar</h5>
            <p class="card-text">Professional football player at Paris SG.</p>
            <a href="https://de.wikipedia.org/wiki/Neymar" target="_blank" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/haaland.jpg" alt="Haaland">
        <div class="card-body">
            <h5 class="card-title">Erling Haaland</h5>
            <p class="card-text">Professional footballer at Manchester City.</p>
            <a href="https://de.wikipedia.org/wiki/Erling_Haaland" target="_blank" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/mbappe.jpg" alt="Mbappe">
        <div class="card-body">
            <h5 class="card-title">Kylian Mbappe</h5>
            <p class="card-text">Professional footballer at Paris SG.</p>
            <a href="https://de.wikipedia.org/wiki/Kylian_Mbapp%C3%A9" target="_blank" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/logo.png" alt="Farhan">
        <div class="card-body">
            <h5 class="card-title">Mohammad Farhan Saifee</h5>
            <p class="card-text">Amateur football player at SC Sparkasse Korneuburg.</p>
            <a href="https://www.oefb.at/Profile/Spieler/894891?Farhan-Saifee" target="_blank" class="btn btn-primary">See more</a>
        </div>
    </div>
</div>