.mainCardContainer{
    /* border: 1px solid black; */
    /* height: 80vh; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 7px;
}

.card{
    box-shadow: 1px 2px 8px 1px;
    border: 1px solid rgb(10, 9, 9);
    height: 18rem;
    width: 20rem;
    margin: 5px;
    /* background-color: black; */
}